[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"
django-crispy-forms = "*"
djangorestframework-filters = "*"
django-filter = "==21.1"

[dev-packages]

[requires]
python_version = "3.9"
