<div class="card">
  <div class="card-body p-1">
    <div class="curation-container">
     
      <div class="left-section">
      <a href="#" class="btn btn-secondary">
        <i class="fa fa-arrow-up" style="font-size:36px";></i>
      </a>
      </div>
     
     
      <div class="right-section">
        <h3 class="card-title">{{title}}</h3>
      <p class="card-text">{{description}}</p>
        <div class='mt-2 font-weight-bold'>
          <a href="{{subject_url}}">
            {{subject}}
          </a>
          &nbsp;|&nbsp;
          <a href="{{author_url}}">
            {{author}}
          </a>
        </div>
        </div>
    </div>
  </div>
</div>