<div class="card mt-5 mb-5">
  <div class="card-body p-1">
    <div class="curation-container">

      <div class="left-section">
        <a href="#" class="btn btn-secondary">
          <i class="fa fa-arrow-up" style="font-size:36px" ;></i>
        </a>
      </div>


      <div class="right-section">
        <h3 class="card-title">{{curation.title}}</h3>
        <p class="text">{{curation.description |truncatechars:200 }}</p>
        <div class='mt-2 font-weight-bold'>
          <a href="subject/{{subject}}">
            {{curation.subject}}
          </a>
          &nbsp;|&nbsp;
          <a href="{{author_url}}">
            {{curation.owner}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>