!{% extends "base.html" %}

{% block title %}Subjects{% endblock %}


{% block content %}


<div class="subjects-container m-5">
  <div class="container">
    <div class="row flex-row flex-nowrap" style="overflow-x:auto;">

      {% for subject in subjects %}
      {% include "partials/subject_card.html"%}
      {% endfor %}


    </div>
  </div>

  <div class="curation_cotainer container mt-5">
    <h5>Top Curations</h5>
    <div class="curation_inner_container">
      {% for curation in curations %}
      {% include "partials/curation_card.html"%}
      {% endfor %}
    </div>
  </div>

  {% if curations.paginator.num_pages > 1 %}
  <div class="container d-flex align-items-center justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>

        {%if curations.has_previous%}
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {%if curations.has_next%}
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        {%endif%}
        <li class="page-item"><a class="page-link" href="?page={{curations.paginator.num_pages}}">Last</a></li>

      </ul>
    </nav>
  </div>
  {% endif %}
  {% endblock %}